.userSelect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  
  .appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  
  .textTransformU {
    text-transform: uppercase;
  }
  
  .posRelative {
    @include position(relative);
  }
  
  .ellipsis-text{
    white-space: nowrap;
    overflow: hidden;
    -webkit-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
  }
  
  .lineGradient {
    /* background-image: linear-gradient( to right, $rightColor, $leftColor); */
    background: #337292;
    background: linear-gradient(90deg, #337292 60%, #fff 100%);
  }
  
  .lineGradientBtn {  
    background:#054667;
    background: linear-gradient(180deg, #054667 45%, #032739 100%);
  }
  .lineGradientGPBtn {  
    background:#dc4525;
    background: linear-gradient(180deg, #dc4525 45%, #b52807 100%);
  }
  .lineGradientFBBtn {  
    background:#365296;
    background: linear-gradient(180deg, #365296 45%, #1e2f56 100%);
  }
  .normalBtn{
    @extend .bgc-defaultBtn;
  }
  
  